body {background-color: #002431;text-align: left;color:lightgray; font-family: Arial, Helvetica, sans-serif;}
/* section  {text-align:left;} */
h1   {color: lightgray; font-size: 72px;}
h2   {color: lightgray; font-size: 36px;}
h3   {color: lightgray; font-size: 24px; font-style:italic;}
p    {color: lightgray;}
td {
    border-bottom: 1px solid #ddd; 
} section{
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: lighter;
}
a {color: lightgray; font-style: italic;}